/*
|--------------------------------------------------------------------------
| TYPOGRAPHY
|--------------------------------------------------------------------------
| Sistema tipográfico global del proyecto.
|--------------------------------------------------------------------------
*/

body{

    font-family: "Manrope", sans-serif;

    color: var(--color-text);

    line-height: 1.6;

}

h1,
h2,
h3,
h4,
h5,
h6{

    font-family: var(--font-heading);

    font-weight: 500;

    line-height: 1.1;

    letter-spacing: 1px;

    color: var(--color-primary);

}

.text-accent-word{

    color: var(--color-accent-dark);
    font-style: italic;

}

h1{

    font-size: clamp(3rem,6vw,5.5rem);

}

h2{

    font-size: clamp(2.5rem,5vw,4rem);

}

h3{

    font-size: clamp(2rem,4vw,3rem);

}

p{

    font-size: 1.05rem;

}