/*
|--------------------------------------------------------------------------
| BUTTON COMPONENT
|--------------------------------------------------------------------------
| Sistema de botones reutilizable.
|--------------------------------------------------------------------------
*/

.button{

    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:1rem 2rem;
    border-radius:14px;
    font-weight:600;
    transition:var(--transition);
    cursor:pointer;

}

.button--primary{

    background:var(--color-primary);
    color:var(--color-secondary);
    box-shadow:0 10px 25px rgba(var(--color-primary-rgb),.12);

}

.button--primary:hover{

    background:var(--color-accent);
    color:var(--color-primary);
    transform:translateY(-3px);

}

.button--secondary{

    border:1px solid rgba(255,255,255,.72);
    color:var(--color-secondary);

}

.button--secondary:hover{

    background:var(--color-accent);
    border-color:var(--color-accent);
    color:var(--color-primary);
    transform:translateY(-3px);

}
