/*
|--------------------------------------------------------------------------
| BUTTON COMPONENT
|--------------------------------------------------------------------------
| Sistema de botones reutilizable.
|--------------------------------------------------------------------------
*/

.button{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    padding:1rem 2rem;

    border-radius:14px;

    font-weight:600;

    transition:var(--transition);

    cursor:pointer;

}

.button--primary{

    background:var(--color-primary);

    color:var(--color-secondary);

}

.button--primary:hover{

    background:var(--color-accent);

    color:var(--color-primary);

    transform:translateY(-3px);

}

.button--secondary{

    border:2px solid var(--color-secondary);

    color:var(--color-secondary);

}

.button--secondary:hover{

    background:var(--color-accent);

    color:var(--color-primary);

    transform:translateY(-3px);

}