/*
|--------------------------------------------------------------------------
| CONTAINERS
|--------------------------------------------------------------------------
*/

.container{

    width:min(92%,1280px);

    margin:0 auto;

}

.container-wide{

    width:min(94%,1440px);

    margin:0 auto;

}